img.logo {
  width: 90px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid;
  padding-bottom: 2px;
}

.wraps img,
.wraps p {
  max-width: 400px;
  width: 100%;
}

html,
body {
  font-size: 20px;
  background-color: #bfb2c5;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}

.contact {
  margin-right: 10px;
}
a {
  color: black;
  text-underline-offset: 1px;
}

.wraps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw 4vw;
}

@media only screen and (max-width: 600px) {
  .wraps {
    grid-template-columns: 1fr;
  }

  .wraps > div {
    justify-content: center !important;
  }
}

.wraps > div {
  display: flex;
  align-items: center;
}
.wraps > div:nth-child(odd) {
  justify-content: flex-end;
  text-align: right;
}

.description {
  text-align: center;

  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

h2.sold {
  color: red;
  text-transform: uppercase;
}

.description p {
  margin: 0.5rem;
}

header h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.wraps img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  font-size: 0.8rem;
  margin-top: 1rem;
}